/.idea
/venv
/__pycache__
handlers/__pycache__
states/__pycache__/
utils/__pycache__/
data/example.json
data/users.json
data/error.log
data/feedback.txt
data/previous_rates.json
data/bot_data.json
async_bot.py